/* POLICES */

@font-face {
    font-family: Manrope;
    src: url(font-Manrope/Manrope-VariableFont_wght.ttf);

}

@font-face { /* Titre page d'accueil */
    font-family: Miagara;
    src: url(font-miagara/Miagara.ttf);
}


@font-face { /* Titre icones jeux */
    font-family: Poppins;
    src: url(font-poppins/poppins.regular.ttf);
}

@font-face { /* Titre icones jeux */
    font-family: Equila;
    src: url(font-equila/Equila.otf);
}

 /* HTML */

html {
    scroll-behavior: smooth;
    scroll-padding-top: 135px;
}

/* BODY */
body {
    margin: auto;
    padding: 0;
    height: 100vh;
    background:url('images_accueil/fondBlancCercle.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-color:rgb(255, 255, 255);
    /* pour effet de soulignage du menu au survol : 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*/
    overflow-x: hidden;
    max-width: 1920px;

}

main {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1300px;
}



/* TITRE + TEXTE DE PRSENTATIION DU PROJET */

#presentation-du-projet, #contribution-bloc, #presentation-next-studie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #7d8c8e;

    gap: 100px;
    padding: 10% 4%;

    text-align: justify;
    color: #ffffff;
    font-family: Poppins;
    font-size: 1.2em;
    clip-path: polygon(0 150px, 100% 0, 100% calc(100% - 150px), 0 100%);
}

#contribution-bloc {
    clip-path: polygon(0 0, 100% 150px, 100% 100%, 0 calc(100% - 150px));
    margin: 10% 0;
}

#presentation-du-projet {
    background:url('images_accueil/fondBlancCercle.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #000000;
    padding: 2% 5% 15% 5% ;
    margin-top: 0;
    flex-direction: column;
    gap: 0;
    clip-path:none;
}

/* BOUTON DE RETOUR EN HAUT A GAUCHE */

.bouton-retour-area {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 4%;
    background-color: none;
    align-items: center;
}

.bouton-retour-area p {
    color:#000000;
    font-size: 1.2em;
    font-weight: 700;
    font-family: Equila;
    text-indent:0;
}

.bouton-retour-area a {
    background-color: #ffffff;
    border: 0.2px solid rgb(11, 62, 106);
    border-radius: 20px;

    padding: 10px;
    margin: 30px;
    width: 250px;
    text-align: center;
    color: rgb(11, 62, 106);
    font-weight: 500;
    font-family: Poppins;
    font-size: 0.8em;
    text-decoration: none;
}

.bouton-retour-area a:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}

/* TITRE */
#presentation-du-projet #titre-projet, #contribution-bloc #titre-projet, #presentation-next-studie #titre-projet {
    width: 100%;
    text-align: center;

    color: #273c50;
    font-size: 3em;
    font-weight: 700;
    font-family: Equila;
    text-decoration: none;
    margin-bottom: 5%;
    text-indent:0;
}

#presentation-du-projet #titre-projet {
    font-size: 3.3em;
    padding-top: 10%;
    color: #000000;
    padding-bottom: 0%;
}


/* IMAGE */

#contribution-bloc .imgBox, #presentation-next-studie .imgBox  {
    width: 50%;
    height: 50%;
    margin: 4% 0;
}

#contribution-bloc .img-contributiuon-bloc, #presentation-next-studie .imgProjetBloc {
    width: 100%;
    height: 100%;
}
#contribution-bloc .img-contributiuon-bloc img, #presentation-next-studie .imgProjetBloc img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 50px 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}



/* PARAGRAPHE */
#presentation-du-projet .presentation-du-projet-bloc {
    width: 90%;
    margin-bottom: 4%;
}
#contribution-bloc .presentation-du-projet-bloc, #presentation-next-studie .presentation-du-projet-bloc {
    width: 35%;
    text-indent:40px;
}

#contribution-bloc span, #presentation-next-studie span {
    color: #31485f;
}

#presentation-du-projet span {
    color : #e7314b;
    font-weight: 400;
}


