/* POLICES */

@font-face {
    font-family: Manrope;
    src: url(font-Manrope/Manrope-VariableFont_wght.ttf);

}

@font-face { /* Titre page d'accueil */
    font-family: Miagara;
    src: url(font-miagara/Miagara.ttf);
}

@font-face { /* Titre icones jeux */
    font-family: Poppins;
    src: url(font-poppins/poppins.regular.ttf);
}

@font-face { /* Titre icones jeux */
    font-family: Bebas;
    src: url(font-bebas_neue/BebasNeue-Regular.otf);
}

 /* HTML */

html {
    scroll-behavior: smooth;
    scroll-padding-top: 150px;
}

/* BODY */
body {
    margin: auto;
    padding: 0;
    height: 100vh;
    /*background:url('images_accueil/fondBlancCercle.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;*/
    background-color:#FDF0E7;
    background-attachment: fixed;
    max-width: 1920px;
}

main {
    margin: 0;
    padding: 0;
    width: 100%;
}


/*  BARRE DE NAV  */

header { /* pas sûr que tout soit nécessaire */
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    top:0;
    width: 100%;
    max-width: 1920px;
    /*transition: background-color 0.4s ease-in-out ;*/
    background-color: #fff;
    z-index: 100;
}


/*barre de nav : menus (accueil,contact..)*/

nav {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    padding: 25px 60px;
    max-width: 1920px;
}

nav a {
    color: #000000;
    font-family: Poppins;
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
    margin: 0 15px;
    padding-bottom: 5%;
}

nav .accueil a {
    color: #000000;
}

nav>div:hover a{
    color: #74777c;
}  

nav > div> .surligne:hover {
    border-bottom: solid 1px #74777c;
}

nav .contact {
    background: #000000;
    border-radius: 20px;
    padding: 2px 3px;
}

nav .contact a {
    color: white;
    transition: background-color 0.4s ease-in-out;
}

nav .contact:hover {
    background-color: #414040;
    transition: all 0.5s ;
}

nav .contact:hover a {
    color: #fff ;
}


/*logo : PORTFOLIO*/
nav .logo {
    font-size: 1.6em;
    color: rgba(0, 0, 0, 0.8);
    font-family: Miagara; 
    font-weight: 600;
    text-decoration: none;
    position: absolute;
    left: 25px;
    margin: 0;
    padding: 0;
}

/*nav .logo img {
    width: 135px;
    border-radius: 5px;
}*/

.logo:hover{
    transition: 0.1s ease-in-out; /*a voir pour faire transition stylé parce que ca ca marche pas*/
    /*color: #ffffffee;
    text-shadow:
    -1.5px -1.5px 0 rgb(250, 250, 250),
    1.5px -1.5px 0 rgb(250, 250, 250),
    -1.5px 1.5px 0 rgb(250, 250, 250),
    1.5px 1.5px 0 rgb(250, 250, 250);*/
    opacity: 50%;
}

/*sous-menus*/
    
.sousMenu {
    top: 59px;
    /*border-radius: 0 0 10px 10px;*/
    /*border-bottom: solid 1.5px rgb(75, 85, 131);*/
    text-shadow: none;
    height: 0; /* cette ligne plus les deux du dessous c'est pour que le menu déroulant glisse */
	overflow: hidden;
	transition: 1s all;
    position: absolute;
    border-radius: 0;
    /*border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;*/
    background-color: transparent;
    border-left: groove 1px rgb(75, 85, 131);
}

.sousMenu a {
    color: rgb(11, 62, 106);
    font-family: Manrope;
    font-weight: 400;
    font-size: 1.1em;
    margin: auto;
}

.sousMenu div {
    padding: 15px 10px;
}


nav > .projets:hover .sousMenu {
    height: 109px;  /* cette ligne c'est pour que le menu déroulant glisse */
}

nav > .projets:hover .sousMenu>div>a {
    color: rgb(11, 62, 106);
}

nav >.projets>.sousMenu>div:hover a {
    color:  #647b94;
}





/* PAGE D'ACCUEIL :: PARTIE 1 */


.en-tete {
    height: 90vh;
    margin: 8% auto;
    max-width: 1920px;
   
    width: 90%;

    display: grid;
    grid-template-columns: 1fr 1fr ; /* 2 colonnes de tailles égales */
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;       /* 3 rangées de tailles égales */
    gap: 5%;        
}




/* PARTIE BULLE BLANCHE SOUS TITRE */

.blocNomTitre {
    color: #FDF0E7;
    background-color: #ffffff;
    grid-column: 1 ; /* Occupe les colonnes 1 et 2 */
    grid-row: 1/5;        /* Occupe les deux premieres lignes */
    /*left: 7%;
    top: 15%;
    /*left: 15%;
    top: 27%;
    height: 280px;
    width: 280px;
    background-color: rgba(250, 250, 250, 1);*/
    border: 0.1px solid #000000;
     /*border-radius: 50%;*/
    box-shadow: -5px 0 15px rgb(0, 0, 0, 0.3);
    z-index: 0;
}

.blocEnVoirPlusTitre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    grid-column: 2 ; 
    grid-row: 7;        /* Occupe la première ligne */

    height: 100px;
    border: 0.1px solid #EED7C5;
    z-index: 0;

    background-color: #fff7f0;

    margin-top: -10%;
    box-shadow: -5px 0 15px rgb(0, 0, 0, 0.1);
}

.blocEnVoirPlusTitre a {
    color: #000000;
    font-family: Miagara;
    font-weight: 200;
    font-size: 2em;
    text-decoration: none;
}

.blocEnVoirPlusTitre a:hover {
    color: #545454;
    transition: 0.1s ease-in-out;
}



/* PARTIE TEXTE DE L'ACCUEIL */

.texte_accueil { 
    /* fond*/
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    max-width: 1920px;
    width: 100%;

    padding-top: 5%;
    overflow: hidden;
}

.texte_accueil h1 p {
    overflow: hidden;
}

.texte_accueil h1 span {
    /* texte */
    color: #000000;/*rgb(11, 62, 106);*/
    Font-family: Miagara;
    font-weight: 200;
    font-size: 2.5em;
    padding-bottom: 25px;
    width: 70%;
    text-align: start;
    margin-left: 10%;

/*     text-shadow: 7px 7px 11px black;
 */    /* pour l'animation d'entrée de site : */
    transform: translateY(400px);
    display: block;
    overflow: hidden;
    animation: 3s titreAnime cubic-bezier(0, 0.55, 0.45, 1) 0.5s forwards;
}

.en-tete .voir-plus-titre {
    overflow: hidden;
    margin-top: 5%;
    margin-left: -335%;
}

.en-tete .voir-plus-titre .voir-plus {
    /* texte */
    color: #000000;/*rgb(11, 62, 106);*/
    Font-family: Miagara;
    font-weight: 200;
    font-size: 1.5em;
    width: 100%;
    text-align: start;
    margin: 355% 0 0 0;
}

.texte_accueil .p2 {
    width: 80%;
    padding-left: 10%; 
    margin-bottom: 0;
    padding-bottom: 0;
    /* texte */
    color: #000000;
    font-family: Poppins;
    font-weight: 100;
    font-size: 1.7em;
    text-align: start;
    z-index: 1;
}

@keyframes titreAnime {
    100% {
        transform: initial;
    }
}



/* PARTIE IMAGES DE L'ACCUEIL */

.en-tete .img_accueil1, .en-tete .img_accueil2, .en-tete .img_accueil3 {
   width: 100%;
   background-color: transparent /* marron rgb(33, 22, 5) */;/*  rgba(14, 48, 104, 0.835) */
}

.img_accueil1 {
    /* scp */
    align-items: center;
    grid-column: 2 ; /* Occupe les colonnes 1 et 2 */
    grid-row: 1/3;        /* Occupe les deux premieres lignes */
}

.img_accueil2 {
    /* mytho */
    padding-top: 12%;
    grid-column: 2 ; /* Occupe les colonnes 1 et 2 */
    grid-row: 3/6;        /* Occupe les deux premieres lignes */
}

.img_accueil3 {
    /* restau */
    grid-column: 1 ; /* Occupe les colonnes 1 et 2 */
    grid-row: 5/8;        /* Occupe les deux premieres lignes */
}


.gifAccueil {
    width: 700px;
    /*position: absolute;
    right: 90px;
    top: 160px;*/
    border: solid 7px #dac5b5;
}

.gifAccueil2 {
    /*position: absolute;
    right: 6%;
    top: 600px;*/
    width: 700px;
    border: solid 10px #a8978b;
    
}

.gifAccueil3 {
    /*position: absolute;
    right: 900px;
    top: 780px;*/
    width: 700px;
    border: solid 15px #EED7C5;
}



/* SECTION QUI SUIS JE ? */

#presentation-de-soi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    margin: 0 auto 0 auto;
    width: 100%;
    height: 700px;
    max-width: 1920px;
    padding: 10% 0;
    clip-path: polygon(0 150px, 100% 0, 100% calc(100% - 150px), 0 100%);
}

#presentation-de-soi h2 {
    color: #FDF0E7;
    margin-bottom: 0;
}

.presentation-de-soi-bloc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 1300px;
    gap: 90px;
    margin: 20%;
}

.formBox{
    max-width: 85%;
    gap: 70px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}


#presentation-de-soi .photoForm img {
    /*border-radius: 20px 20px 50px 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);*/
    width: 350px;
    height: 400px;
}

#presentation-de-soi .formulaire {
    width: 100%;
}

#presentation-de-soi .p-presentation-de-soi, #footer .bloc-contact .bloc-numTel-Email p, #footer .bloc-contact .bloc-numTel-Email h2 {
    color: #ffffff;
    font-family: Poppins;
    font-size: 1.4em;
}

#presentation-de-soi .p-presentation-de-soi {
    text-align: justify;
}

#presentation-de-soi .formulaire span {
    color: #a8978b;/*bleu fonce : rgb(11, 62, 106);*/
}



/* FOOTER  */

#footer {
    background-color: #000000;
    height: 400px;
}

#footer .bloc-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

#footer .bloc-contact .bloc-numTel-Email {
    margin: 7% 0;
}

#footer .bloc-contact .bloc-numTel-Email h2{
    color: #FDF0E7;
}


/*#footer .bloc-contact .bloc-numTel-Email p {

}*/



/* PARTIE PROJET */

.projet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: -12% auto 0 auto;
    padding: 20% 0;
    max-width: 1920px;

    border: solid 1px #000000;
    background-color: #FDF0E7;
    /*background: linear-gradient(to bottom, #FDF0E7, #FDF0E7, #000000);
    clip-path: polygon(0 150px, 100% 0, 100% calc(100% - 150px), 0 100%);*/
}

/* TITRE 'PROJETS' */

.projet h2, #titre-qui-suis-je {
    width: 100%;
    margin-top: 3%;
    padding-left: -10%;
    text-align: center;

    color: #000000;
    font-size: 4.3em;
    font-weight: 300;
    font-family: Miagara;
    text-decoration: none
}

.projet h2 {
    margin: 5% 0 10% 0;
    text-align: start;
    padding-left: 600px;
}


/* PARTIE ANIME */

.slider {
    /*display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    gap: 5%;*/
    width: 85%;
    display: grid; /* Active le mode grille */
    grid-template-columns: 1fr 1fr 1fr; /* 3 colonnes de tailles égales */
    grid-template-rows: 1fr 1fr;       /* 2 rangées de tailles égales */
    gap: 5%; /* Espacement entre les éléments */                 
    height: 600px;  
}


 /* BLOC DE CHAQEU PROJET */

 
.bloc-1-projet {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 5px;
    padding: 5% 10% ;

    /*animation: zoom 16s ease-in-out infinite;*/

    background-color: #FDF0E7;
    backdrop-filter: brightness(20%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 5px solid #796659;
}

.bloc-1-projet:nth-child(1) {
    grid-column: 1 / 3; /* Occupe les colonnes 1 et 2 */
    grid-row: 1;        /* Occupe la première ligne */
    /*animation-delay: 0s;*/
    background-image: url('img_accueil_2/trains-1.webp');
    backdrop-filter: brightness(90%);
    background-size: cover;
    background-position: center;
}

.bloc-1-projet:nth-child(2) {
    grid-column: 3; /* Occupe la colonne 3 */
    grid-row: 1;    /* Occupe la première ligne */
    /*animation-delay: 4s;*/
    background-image: url('img_accueil_2/monstre2.jpg');
    background-size: 1000px;
    background-position: center;
}

.bloc-1-projet:nth-child(3) {
    grid-column: 1; /* Occupe la colonne 1 */
    grid-row: 2;    /* Occupe la deuxième ligne */
    /*animation-delay: 8s;*/
    background-image: url('images_accueil/fondBlancCercle.jpg');
    background-size: cover;
    background-position: center;
}

.bloc-1-projet:nth-child(4) {
    grid-column: 2 / 4; /* Occupe les colonnes 2 et 3 */
    grid-row: 2;        /* Occupe la deuxième ligne */
    animation-delay: 12s;
    background-image: url('img_accueil_2/mytho2.jpeg');
    background-size: cover;
    background-position: center;
}

/* TITRES/LIENS DES PROJETS */

.bloc-1-projet a {
    width: 100%;
    font-size: 2.7em;
    font-weight: 700;
    font-family: Poppins;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 2% 0;
}

.bloc-1-projet:nth-child(3) > a {
    color: #796659;
}

.bloc-1-projet:nth-child(1) > a, .bloc-1-projet:nth-child(4) > a {
    color: #ffffff;
    background-color: transparent;

}

.bloc-1-projet a:hover {
    font-size: 2.75em;
    transition: all 0.3s ;
}

.bloc-1-projet:hover {
    transform: scale(1.05);
    transition: all 0.3s ;
}



