/* Couleurs principales du sites : 
    beige de fond : #FDF0E7;
    noir de fond : #1a1a1a;
    couleurs texte : #ffffff;
    couleur span du texte : #a8978b;
    couleur span du texte sur fond beige  : #5b524b;

    jaune : fdb024
    bleu canard moyen  :277364
    bleu fonce fond : 092327
    */

/* POLICES */


@font-face { /* Titre icones jeux */
    font-family: Poppins;
    src: url(../font/font-poppins/poppins.regular.ttf);
}

@font-face { /* Titre icones jeux */
    font-family: Equila;
    src: url(../font/font-equila/Equila.otf);
}

/* HTML */

html {
    scroll-behavior: smooth;
}

/* BODY */
body {
    margin: auto;
    padding: 0;
    background: #092327;
    background: linear-gradient(165deg, rgba(9, 35, 39, 1) 56%, rgba(55, 92, 90, 1) 20%);
}

main {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1920px;
}


/*  BARRE DE NAV  */

header { /* pas sûr que tout soit nécessaire */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    top:0;
    width: 100%;
    max-width: 1920px;
    /*transition: background-color 0.4s ease-in-out ;*/
    z-index: 100;
}


/*barre de nav : menus (accueil,contact..)*/

nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    max-width: 1920px;
    width: 350px;
    background: transparent;
    transition: background-color 0.5s ease;
}



.surligne {
    color: white;
    font-family: Poppins;
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
    margin: 0 15px;
    padding-bottom: 3%;
    position: relative;
    display: inline-block;
    text-wrap: nowrap;
}

/* Animation de surlignement */

.surligne::after {
  content: " ";
  position: absolute;
  left: 50%;
  bottom: 0px; /* Distance entre le texte et la ligne */
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  height: 1px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  transition: transform 0.4s ease;
}

.surligne.noir::after {
    background-color: black;
}

.surligne:hover::after {
  transform: translateX(-50%) scaleX(1);
} 

/*logo : TAMARA BENGHEZAL*/
#logo {
    font-size: 1.6em;
    color: white;
    font-family: Poppins; 
    font-weight: 600;
    text-decoration: none;
    position: absolute;
    left: 25px;
    margin: 0;
    padding: 0;
}




/* TITRE + TEXTE DE PRSENTATIION DU PROJET */

#presentation-generale-du-projet, #contribution-bloc, #resume-bloc, #presentation-competences {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #f9f9f9;
    color: #000000;

    gap: 100px;
    padding: 5% 4%;

    text-align: justify;
    font-family: Poppins;
    font-size: 1.2em;
    max-width: 1920px;
    /*clip-path: polygon(0 150px, 100% 0, 100% calc(100% - 150px), 0 100%);*/
}


#presentation-generale-du-projet {
    /*background:url('imgNextStudies/next-studies-photo1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;*/
    padding: 0 5% 2% 5%;
    margin-top: 0;
    flex-direction: column;
    gap: 0;
    width: 90%;
    clip-path:none;
    background-color: transparent; /*#1a1a1a; */
    color: #FDF0E7;
}

#contribution-bloc {
    background: #092327;
    background: linear-gradient(165deg, rgba(9, 35, 39, 1) 56%, rgba(55, 92, 90, 1) 120%);
    color: #FDF0E7;
    padding: 5%;
    margin-top: 0;
    justify-content: space-around;
}

/* BOUTON DE RETOUR EN HAUT A GAUCHE */

.bouton-retour-bloc {
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left:4%;
    margin: 0;
    background: #092327;
    background: linear-gradient(165deg, rgba(9, 35, 39, 1) 56%, rgba(55, 92, 90, 1) 100%);
    align-items: center;
}

.bouton-retour-bloc img {
    width: 32px;
    height: 32px;
}

.bouton-retour-bloc p {
    color:#a8978b;
    font-size: 1.2em;
    font-weight: 700;
    font-family: Equila;
    text-indent:0;
}

.bouton-retour-bloc a {
    display: inline-flex;
    align-items: center; /* aligne verticalement image + texte */
    gap: 8px;  

    padding: 10px;
    margin: 30px;

    color: #ffffff;
    font-weight: 500;
    font-family: Poppins;
    font-size: 0.8em;
    text-decoration: none;
}

.bouton-retour-bloc a:hover {
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); */
    color: #cfcfcf;
    /* background-color: #ffffff; */
}

nav .bouton-retour-bloc {
    justify-content: end;
    background:  none;
}
/* TITRE */
#contribution-bloc #titre-projet, #resume-bloc #titre-projet, #titre-competences {
    width: 100%;
    text-align: start;

    color: #277364;
    font-size: 3.3em;
    font-weight: 700;
    font-family: Poppins;
    text-decoration: none;
    margin-bottom: 5%;
    text-indent:0;
}

#presentation-generale-du-projet #titre-projet, #contribution-bloc #titre-projet {
    color: #f9f9f9;
    padding-bottom: 0%;
}

#contribution-bloc #titre-projet {
    text-align: end;
}

#presentation-generale-du-projet #titre-projet {
    font-size: 2.3em;
    color: #f9f9f9;
    font-family: Poppins;
    padding: 0;
    margin: 0 auto;
}


/* IMAGE */

#resume-bloc .imgBox  {
    width: 50%;
    height: 50%;
    margin: 4% 0;
    display: flex;
    justify-content: center;
}

#contribution-bloc .imgBox {
    width: 40%;
    height: 50%;
    margin: 0;
    display: flex;
    /* justify-content: center; */
}

#resume-bloc .imgProjetBloc {
    width: 100%;
    height: 100%;
    align-items: center;
}
#contribution-bloc .img-contributiuon-bloc {
    width: 100%;
    height: 100%;
    align-items: center;
}

#resume-bloc .imgProjetBloc img {
    width: 100%;
    margin-left: 50px;
    height: 100%;
    border-radius: 20px 20px 50px 10px;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.4); */
    border: solid 10px #277364;
}

#contribution-bloc .img-contributiuon-bloc img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 50px 10px;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.4); */
    border: solid 7px #e6d7cd;
    /* border-radius: 50%; */
}


/* PARAGRAPHE */

#presentation-generale-du-projet .presentation-du-projet-bloc {
    width: 60%;
    padding: 0 4%;
    text-align: center;
    /*background-color: #1a1a1a;*/
    color: #fff;
    font-size: 1.0em;
}

#contribution-bloc .presentation-du-projet-bloc, #resume-bloc .presentation-du-projet-bloc {
    width: 35%;
    text-indent:40px;
}

 #resume-bloc span, #contribution-bloc span, #presentation-competences span {
    color: #277364;
}

#presentation-generale-du-projet span {
    color : #277364;
}

.navigation_buttons {
    margin: 2% auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;

}
/* Bouton arrondi avec fleche de la premiere section */
.rounded-button {
    width: 170px;
    height: 40px;
    border: solid 3px #092327;
    border-radius: 20px;
    background-color: #fff;
    color: #092327;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none; /* Supprime la décoration du lien */
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* .rounded-button .arrow {
    color: #a8978b;
} */

.rounded-button:hover {
    background-color: #fdb024;
    color: #092327;
    transform: translateY(-1px);
}

.rounded-button:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* ------------SLIDER ----------------------*/
.slider_separation {
    background-color: #a8978b;
    width: 20%;
    height: 1px;
    margin-top: 1%;
}

.slider-container {
    position: relative;
    top: -200%;
    width: 60%;
    height: 450px; /* Hauteur visible du slider */
    max-width: 1920px;
    overflow: hidden;
    margin: 2% auto;
    border: solid 10px #277364;/*#5a5858;/*#dac5b5;*/
    border-radius: 10px;
    background-color: #a8978b;
}

.slider {
    display: flex;
    flex-direction: column; /* Permet un défilement vertical */
    transition: transform 0.5s ease-in-out;
}

.slider img {
    width: 100%; /* Largeur de chaque image égale au conteneur */
    height: 500px; /* Hauteur de chaque image égale au conteneur */
    flex-shrink: 0;
}

.slider-container button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    font-size: 18px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-container button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slider-container button.prev {
    top: 10px;
}

.slider-container button.next {
    bottom: 10px;
}

/* ---------- FIN SLIDER ---------------*/