/* Couleurs principales du sites : 
    beige de fond : #FDF0E7;
    noir de fond : #1a1a1a;
    couleurs texte : #ffffff;
    couleur span du texte : #a8978b;
*/

/* POLICES */

@font-face {
    font-family: Manrope;
    src: url(../font/font-Manrope/Manrope-VariableFont_wght.ttf);
}

@font-face { /* Titre page d'accueil */
    font-family: Miagara;
    src: url(../font/font-miagara/Miagara.ttf);
}

@font-face { /* Titre icones jeux */
    font-family: Poppins;
    src: url(../font/font-poppins/poppins.regular.ttf);
}


 /* HTML */

html {
    background: #fff;
    scroll-behavior: smooth;
    /* scroll-padding-top: 50px; */
}

/* BODY */
body {
    margin: auto;
    padding: 0;

    background-color:#092327; /*FDF0E7;*/
    background-attachment: fixed;
    max-width: 1920px;
}

main {
    margin: 0;
    padding: 0;
    width: 100%;
}


/*  BARRE DE NAV  */

header { /* pas sûr que tout soit nécessaire */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    top:0;
    width: 100%;
    max-width: 1920px;
    /*transition: background-color 0.4s ease-in-out ;*/
    z-index: 100;
}


/*barre de nav : menus (accueil,contact..)*/

nav {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    padding: 25px 60px;
    max-width: 1920px;
    background: transparent;
    transition: background-color 0.5s ease;
}

.surligne {
    color: white;
    font-family: Poppins;
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
    margin: 0 15px;
    padding-bottom: 3%;
    position: relative;
    display: inline-block;
    text-wrap: nowrap;
}

/* Animation de surlignement */

.surligne::after {
  content: " ";
  position: absolute;
  left: 50%;
  bottom: 0px; /* Distance entre le texte et la ligne */
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  height: 1px;
  width: 100%;
  background-color: white;
  transition: transform 0.4s ease;
}

.surligne.noir::after {
  background-color: black;
}

.surligne:hover::after {
  transform: translateX(-50%) scaleX(1);
} 

/* Bouton de contact */
nav #contact {
    background: #092327;
    border-radius: 20px;
    padding: 3px 10px;
}

nav #contact a {
    font-family: Poppins;
    color: #F8F9FA;
    text-decoration: none;
    transition: background-color 0.4s ease-in-out;
}

nav #contact:hover {
    background-color: #216358;
    transition: all 0.5s ;
}

nav #contact:hover a {
    color: #fff ;
}

/*logo : TAMARA BENGHEZAL*/
#logo {
    font-size: 1.6em;
    color: white;
    font-family: Miagara; 
    font-weight: 600;
    text-decoration: none;
    position: absolute;
    left: 25px;
    margin: 0;
    padding: 0;
}

#logo:hover{
    transition: 0.1s ease-in-out; /*a voir pour faire meilleure transition parce que ca ne marche pas pour le moment*/
    opacity: 50%;
}



/* PAGE D'ACCUEIL :: PARTIE EN-TETE / BANNIERE */

#en-tete {
    height: 100vh;
    margin: 0;
    max-width: 1920px;
    width: 100%;
}

/* PARTIE BANNIERE ACCUEIL WAVING */

.banniere-accueil-waving {
    margin: 0 auto;
    height: 100vh;
    
    background-image: url('../img/img_accueil_3/banniere-accueil-waving-8.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-y: center;
    background-position-x: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#texte_banniere {
    margin-top: -12%;
    padding: 0;

    width: 100%;
    height: 600px;
    position: relative;
    left: 0;
}

/** partie pointillé */

svg {
    position: relative;
    width: 400px;
    height: 200px;
    left: 18%;
}

.svg-rotate {
    width: 400px;
    height: 200px;
    left: -35%;
    top: -355px;
    transform: rotate(186deg); /* 🔁 retourne le trait */
}

path {
    fill: none;
    stroke: white;
    stroke-width: 3;
    stroke-dasharray: 30 30; /* segment visible + espace */
    stroke-dashoffset: 0;
    animation: dash 2s linear infinite;
}

@keyframes dash {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: -70; /* avance d’un segment + espace */
    }
}


/* PARTIE TEXTE DE L'EN-TETE L'ACCUEIL */

.texte_accueil { 
    /* fond*/
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-size: 18px;

    max-width: 800px;

    position: relative;
    top: 70px;
    left: 22%;
}

.titre_nom {
    /* animation */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;

    /* texte */
    color: #1E332F;/*rgb(11, 62, 106);*/
    Font-family: Miagara;
    font-weight: 200;
    font-size: 3.5em;

    padding-bottom: 2%;
    width: 70%;
    text-align: start;
    margin: 0 0 0 10%;
}

.p_profession {
    /* animation */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;

    margin: 3% 0 0 11%;

    /* texte */
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6em;
    text-align: start;
    z-index: 1;
    color: #277364;
} 


.titre2 {
    /* texte */
    font-family: Miagara;
    font-weight: 200;
    color: #F8F9FA;
    font-size: 4.5em;
    text-align: start;
    margin: 0;
} 

.debut, .milieu, .fin {
    position: relative;
    /* animation */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.debut {
    /* top: 10%; */
    left: 15%;
    width: 40%;
}

.milieu {
    color: #fdb024;/*rgb(11, 62, 106);*/
    top: 45px;
    width: 40%;
    left: 14%;
    font-size: 3.4em;
    font-weight: 100;
    font-family: Miagara;
    -webkit-text-stroke-width: 0.5px;
    /* -webkit-text-stroke-color: rgb(74, 59, 9); */
    text-shadow: #000000;
}

.fin {
    top: 20%;
    left: 50%;
    width: 40%;
    text-align: end;
    cursor: pointer;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}


/* //////////////////// SECTION QUI SUIS JE ? /////////////////*/

#presentation-de-soi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;

    margin: 0 auto;
    width: 100%;
    height: 1000px;
    max-width: 1920px;
    padding: 150px 0;
    clip-path: polygon(0 150px, 100% 0, 100% calc(100% - 150px), 0 100%);
}

#presentation-de-soi.section_parcours {
    margin-bottom: 50px;
}

.separator {
    width: 0;
    height: 600px;
    border: #F8F9FA 1px solid;
}

.separatorContact {
    height: 300px;
}

#presentation-de-soi h2 {
    color: #F8F9FA;
    margin-bottom: 0;
}

.presentation-de-soi-bloc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 1300px;
    gap: 100px;
    height: 100%;
}

.formBox{
    max-width: 85%;
    gap: 70px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

/* PARTIE ICONES a GAUCHE */

.liens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    color: #7ba59d;
    font-family: Poppins;
    font-size: 1.2em;
    text-align: center;
}


#presentation-de-soi .liens img {
    width: 130px;
    height: 130px;
    transition: transform 0.5s ease-in-out; /* La transition est définie ici */
    transform: scale(1); /* Position de départ */ 
    cursor: pointer;
}

#presentation-de-soi .liens img:hover {
    transform: scale(1.05);
}


/* PARTIE TEXTUELLE A DROITE */

#presentation-de-soi .formulaire {
    width: 100%;
}

#presentation-de-soi .p-presentation-de-soi, #footer .bloc-contact .bloc-numTel-Email p, #footer .bloc-contact .bloc-numTel-Email h2 {
    color: #F8F9FA;
    font-family: Poppins;
    font-size: 1.2em;
}

#presentation-de-soi .p-presentation-de-soi {
    text-align: justify;
}

#presentation-de-soi .formulaire span {
    color: #7ba59d;/*bleu fonce : rgb(11, 62, 106);*/
}


/* ///////////////////// ICONE DE TRANSITION /////////////*/

#transition {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    max-width: 1920px;
    margin-bottom: -10%;
}

#imageTransitionTamara {
    position: relative;
    top: -270px;
    left: 10%;    
    z-index: 99;
    width: 25%;
    height: auto;
    transform: scaleX(-1);
}



/*//////////////////// PARTIE PROJET ///////////////////*/

#projet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: -20% ;
    padding: 8% 0;
    max-width: 1920px;
    width: 100%;

    background-color: transparent;
    background-image: url('../img/img_accueil_3/projet-fond-5.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-y: center;
    background-position-x: center;
}

/* TITRE 'PROJETS' */

#projet h2, #titre-qui-suis-je {
    width: 100%;
    text-align: center;
    
    color: #F8F9FA;
    font-size: 4.3em;
    font-weight: 300;
    font-family: Miagara;
    text-decoration: none
}

#projet h2 {
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-size: 3.5em; */
    font-weight: 300;
    margin-bottom: 2%;
    color: #eeeeee;
    text-align: center;
}

#titre-qui-suis-je {
    margin: 0;
}

/* PARTIE ANIME */

.slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1920px;
    padding: 2% 2% 0 2%;
    width: 90%;
    gap: 1%;      
    border-radius: 50px;     
    /* border : 10px solid #1E332F; */
}


 /* BLOC DE CHAQUE PROJET */

 
.bloc-1-projet {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    height: 450px;
    width: 24%;
    border-radius: 15%;

    /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1); 
    border: 5px solid #1E332F;  */
}

.bloc-1-projet .image_projet {
    width: 100%;
    height: 60%;
    border-radius: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
}

.bloc-1-projet:nth-child(1) .image_projet{
    background-image: url('../img/img_accueil_3/mytho-miniature.png');
}

.bloc-1-projet:nth-child(2) .image_projet{
    background-image: url('../img/img_accueil_3/train-miniature.png');
}

.bloc-1-projet:nth-child(3) .image_projet{
    background-image: url('../img/img_accueil_3/scp-miniature.png');
}

.bloc-1-projet:nth-child(4) .image_projet{
    background-image: url('../img/img_accueil_3/next-study-miniature.png');
}

/* TITRES/LIENS DES PROJETS */

.bloc-1-projet a {
    text-align: center;
    width: 90%;
    padding: 2% 0;
    font-size: 1.8em;
    color: #dedede;
    font-family: Poppins;
    text-decoration: none;
}


.bloc-1-projet a:hover {
    transition: all 0.3s ;
}

.bloc-1-projet:hover {
    transform: scale(1.05);
    transition: all 0.3s ;
}




/*///////////////// Parcours ///////////////*/



/* barre de parcours */

.timeline-container {
    position: relative;
    top: -50px;
    width: 200px;
    height: 400px;
}

.timeline {
    position: relative;
    width: 5px;
    height: 100%;
    background-color: #1E332F;
    margin: 0 auto;
    border-radius: 5px;
}

.step {
    position: relative;
    margin-left: 20px;
    margin-top: 108px; /* Distance entre les étapes */
}

.marker {
    position: absolute;
    top: -12px;
    left: -30px;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    border: 3px solid #FDF0E7;
    border-radius: 50%;
}

.step p {
    margin: 0;
    margin-left: 40px;
    font-size: 14px;
    color: transparent;
}

.cursor {
    position: absolute;
    top: 0;
    left: -2px;
    width: 10px;
    height: 10px;
    background-color: #FDF0E7;
    border-radius: 50%;
    box-shadow: 0 0 10px #FDF0E7;
    animation: moveCursor 6s infinite linear;
}

@keyframes moveCursor {
    0% {
        top: 0;
    }
    33% {
        top: 130px; /* Position pour l'étape 1 */
    }
    66% {
        top: 260px; /* Position pour l'étape 2 */
    }
    100% {
        top: 400px; /* Fin du parcours */
    }
}

/* /////////HOBBY /////////////*/

#section-hobby {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 0% ;
    padding-bottom: 8%;
    max-width: 1920px;
    width: 100%;
    height: 700px;

    background-color: transparent;
    background-image: url('../img/img_accueil_3/projet-fond-1.png');

    background-repeat: no-repeat;
    background-size: 80%;
    background-position-y: center;
    background-position-x: center;
}

/*////////////// FOOTER ////////////// */

#footer {
    background-color: #000000;
    height: 400px;
    margin: 0;
}

#footer .bloc-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    background-color: #000000;
}

#footer .bloc-contact .bloc-numTel-Email {
    margin: 7%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
}



#footer .bloc-contact .bloc-numTel-Email h2 {
    color: #FDF0E7;
    text-align: center;
    font-size: 2em;
}

#footer .bloc-contact .bloc-numTel-Email .h2_questions {
    font-size: 1.6em;
}

#footer .bloc-contact .bloc-numTel-Email .liens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5%;
}

#footer .bloc-contact .bloc-numTel-Email .liens a {
    text-decoration: none;
    color: #F8F9FA;
    padding: 2% 0;
}
#footer .bloc-contact .bloc-numTel-Email .liens a:hover {
    color: #b9b9b9;

}

