/* POLICES */

@font-face {
    font-family: Manrope;
    src: url(../font/font-Manrope/Manrope-VariableFont_wght.ttf);
}

@font-face { /* Titre page d'accueil */
    font-family: Miagara;
    src: url(../font/font-miagara/Miagara.ttf);
}

@font-face { /* Titre icones jeux */
    font-family: Poppins;
    src: url(../font/font-poppins/poppins.regular.ttf);
}

body {
    margin: auto;
    padding: 0;

    background-color:#092327;
    background-attachment: fixed;
    max-width: 1920px;
    /*background:url('images_accueil/fondBlancCercle.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;*/
}


.onglet-apprentissage {
    background-color: #237665 ;
    margin: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageEnTete {
    background:url('../img/img_apprentissage/banniere-app-diff.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 8%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}


.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 20px;
  align-items: center;
  gap: 20px;
  background-color: #F8F9FA ;
}

.tab {
  background-color: #F8F9FA ;
  padding: 10px 20px;
  cursor: pointer;
  color: #000000;
  font-family: Poppins;
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
}

.tab.active {
  border-bottom: 1px solid #000000;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 50px auto;

  width: 80%;
  min-width: 1000px;
  min-height: 600px;
  background-color: #F8F9FA ;

  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tab-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  display: none;
  margin: 50px;
}

.tab-content.active {
  display: block;
}

/* TEXTES */

.titre-apprentissages {
    color: #fdb024;
    font-family: Poppins;
    font-size: 2.2rem;
    margin: 1% 0 0;
    padding: 0 0 0 120px;
    width: 60%;
    text-wrap: wrap;
}

.titre {
    line-height: 1.1em;
    opacity: 0;
    transform: translateY(30px);
    transition: transform 1.0s ease-out, opacity 1.0s ease-out;
}

.pTexteApprentissage {
    width: 40%;
    margin: 20px 0 100px;
    padding-left: 120px;
    color: #F8F9FA;
    font-family: Poppins;
    text-align: start;
    font-size: 1.0rem;
    font-weight: light;
    opacity: 0;
    transform: translateY(30px);
}

.visible {
  opacity: 1;
  transform: translateY(0);
}


h2 {
  color: #21332F;
  font-family: Poppins;
  text-align: center;
  font-size: 1.4rem;
  padding: 40px 0 30px;
  transition: transform 1.0s ease-out, opacity 1.0s ease-out;
}

.titre_comp {
  text-align: start;
}

.titre_competence {
  color: #21332F;
  font-family: Poppins;
  text-align: center;
  font-size: 1.0rem;
}

.p1, .p_maitrise {
  color: #21332F;
  font-family: Poppins;
  text-align: justify;
  text-indent: 5%;
  font-size: 1.0rem;
}

.p_maitrise {
  color: #3d786c;
}

.p1 a {
  color: #237665;
}

.p_maitrise {
  text-indent: 0;
  text-align: center;
}

/* BLOC DE COMPETENCE */

.competences {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 2%;
}

.bloc_competence {
  width: 21%;
  text-align: center;
  padding: 1%;
  border-radius: 20px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2); 
}

/*////////////// FOOTER ////////////// */

#footer {
    background-color: #000000;
    height: 400px;
    margin: 0;
}

#footer .bloc-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    background-color: #000000;
}

#footer .bloc-contact .bloc-numTel-Email {
    margin: 7%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
}



#footer .bloc-contact .bloc-numTel-Email h2 {
    color: #FDF0E7;
    text-align: center;
    font-size: 2em;
}

#footer .bloc-contact .bloc-numTel-Email .h2_questions {
    font-size: 1.6em;
}

#footer .bloc-contact .bloc-numTel-Email .liens {
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5%;
}

#footer .bloc-contact .bloc-numTel-Email p {
    color: #fdb024;
}

#footer .bloc-contact .bloc-numTel-Email .liens a {
    text-decoration: none;
    color: #fdb024;
    font-size: 1.2em;
    padding: 2% 0;
}
#footer .bloc-contact .bloc-numTel-Email .liens a:hover {
    color: #71a49a;

}