/* Couleurs principales du sites : 
    beige de fond : #FDF0E7;
    noir de fond : #1a1a1a;
    couleurs texte : #ffffff;
    couleur span du texte : #a8978b;
*/

/* POLICES */

@font-face {
    font-family: Manrope;
    src: url(../font/font-Manrope/Manrope-VariableFont_wght.ttf);
}

@font-face { /* Titre page d'accueil */
    font-family: Miagara;
    src: url(../font/font-miagara/Miagara.ttf);
}

@font-face { /* Titre icones jeux */
    font-family: Poppins;
    src: url(../font/font-poppins/poppins.regular.ttf);
}


 /* HTML */

html {
    background: #fff;
    scroll-behavior: smooth;
    /* scroll-padding-top: 50px; */
}

/* BODY */
body {
    margin: auto;
    padding: 0;

    background-color:#092327; /*FDF0E7;*/
    background-attachment: fixed;
    max-width: 1920px;
    cursor: default;
}

main {
    margin: 0;
    padding: 0;
    width: 100%;
}


/*  BARRE DE NAV  */

header { /* pas sûr que tout soit nécessaire */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    top:0;
    width: 100%;
    max-width: 1920px;
    /*transition: background-color 0.4s ease-in-out ;*/
    z-index: 100;
}


/*barre de nav : menus (accueil,contact..)*/

nav {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    padding: 25px 60px;
    max-width: 1920px;
    background: transparent;
    transition: background-color 0.5s ease;
}

.surligne {
    color: white;
    font-family: Poppins;
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
    margin: 0 15px;
    padding-bottom: 3%;
    position: relative;
    display: inline-block;
    text-wrap: nowrap;
}

/* Animation de surlignement */

.surligne::after {
  content: " ";
  position: absolute;
  left: 50%;
  bottom: 0px; /* Distance entre le texte et la ligne */
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  height: 1px;
  width: 100%;
  background-color: white;
  transition: transform 0.4s ease;
}

.surligne.noir::after {
  background-color: black;
}

.surligne:hover::after {
  transform: translateX(-50%) scaleX(1);
} 

/* Bouton de contact */
nav #contact {
    background: #092327;
    border-radius: 20px;
    padding: 3px 10px;
}

nav #contact a {
    font-family: Poppins;
    color: #F8F9FA;
    text-decoration: none;
    transition: background-color 0.4s ease-in-out;
}

nav #contact:hover {
    background-color: #216358;
    transition: all 0.5s ;
}

nav #contact:hover a {
    color: #fff ;
}

/*logo : TAMARA BENGHEZAL*/
#logo {
    font-size: 1.2em;
    font-family: Poppins;
    color: #F8F9FA;
    text-decoration: none;
    position: absolute;
    left: 25px;
    margin: 0;
    padding: 0;
}

#logo:hover{
    transition: 0.1s ease-in-out; /*a voir pour faire meilleure transition parce que ca ne marche pas pour le moment*/
    opacity: 50%;
}



/* PAGE D'ACCUEIL :: PARTIE EN-TETE / BANNIERE */

#en-tete {
    height: 100vh;
    margin: 0;
    max-width: 1920px;
    width: 100%;
}

/* PARTIE BANNIERE ACCUEIL WAVING */

.banniere-accueil-waving {
    margin: 0 auto;
    height: 100vh;
    
    background-image: url('../img/img_accueil_3/banniere-accueil-waving.png');
    background-repeat: no-repeat;
    background-size: 75%;
    background-position-y: center;
    background-position-x: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#texte_banniere {
    margin-top: -8%;
    padding: 0;

    width: 100%;
    height: 600px;
    position: relative;
    left: 0;
}

/** partie pointillé */

svg {
    position: relative;
    width: 400px;
    height: 200px;
    top: 3%;
    left: 17%;
}

@media (max-height: 750px) {
  svg {
    top: 10%; /* ou ce que tu veux */
  }
}

.svg-rotate {
    width: 400px;
    height: 200px;
    left: -35%;
    top: -325px;
    transform: rotate(186deg); /* retourne le trait */
}

path {
    fill: none;
    stroke: white;
    stroke-width: 3;
    stroke-dasharray: 30 30; /* segment visible + espace */
    stroke-dashoffset: 0;
    animation: dash 2s linear infinite;
}

@keyframes dash {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: -60; /* avance d’un segment + espace */
    }
}


/* PARTIE TEXTE DE L'EN-TETE L'ACCUEIL */

.texte_accueil { 
    /* fond*/
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-size: 16px;

    max-width: 750px;

    position: relative;
    top: 70px;
    left: 24%;
}

.titre_nom {
    /* animation */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;

    /* texte */
    color: #1E332F;/*rgb(11, 62, 106);*/
    Font-family: Miagara;
    font-weight: 200;
    font-size: 3.3em;

    padding-bottom: 2%;
    width: 60%;
    text-align: start;
    margin: 0 0 0 10%;
}

.p_profession {
    /* animation */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;

    margin: 3% 0 0 11%;

    /* texte */
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6em;
    text-align: start;
    z-index: 1;
    color: #277364;
} 


.titre2 {
    /* texte */
    font-family: Miagara;
    font-weight: 200;
    color: #F8F9FA;
    font-size: 3.5em;
    text-align: start;
    margin: 0;
} 

.debut, .milieu, .fin {
    position: relative;
    /* animation */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.debut {
    top: 2%;
    left: 20%;
    width: 40%;
}


.milieu {
    color: #fdb024;/*rgb(11, 62, 106);*/
    top: 45px;
    width: 40%;
    left: 14%;
    font-size: 3.4em;
    font-weight: 100;
    font-family: Poppins;/*Miagara;
    -webkit-text-stroke-width: 0.5px;
    /* -webkit-text-stroke-color: rgb(74, 59, 9); */
    text-shadow: #000000;
}

.fin {
    top: 20%;
    left: 50%;
    width: 40%;
    text-align: end;
    cursor: pointer;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}


/* //////////////////// SECTION QUI SUIS JE ? /////////////////*/

/* //effet dome// */



#presentation-de-soi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color:  #fdb024; #113837;#1a1a1a; */
    
    background-image: url('../img/img_accueil_3/fond_section_accueil.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center;
    background-position-x: center;

    margin: 0 auto;
    width: 100%;
    height: 100vh;
    max-width: 1920px;
    padding: 160px 0;
    /* clip-path: polygon(0 150px, 100% 0, 100% calc(100% - 150px), 0 100%); */
    /* border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
    border-top-left-radius: 200vw 100px;
    border-top-right-radius: 200vw 100px; */
    overflow: hidden;
}

#presentation-de-soi.section_parcours {
    background-image: url('../img/img_accueil_3/fond_parcours_2.png');
    margin-bottom: 50px;
    height: 80vh;
    padding: 0 0 160px 0;
}

/* .separator {
    width: 0;
    height: 600px;
    border: #092327 1px solid;
} */

.separatorContact {
    width: 0;
    border: #F8F9FA 1px solid;
    height: 300px;
}
/* TITRE DE LA PAGE ///////*/

#projet h2, #titre-qui-suis-je, #titre_parcours {
    width: 100%;
    text-align: center;
    
    color: #fdb024;
    font-size: 3.0em;
    font-weight: 300;
    font-family: Poppins;
    text-decoration: none
}

@media (max-width: 1365px) {
    #titre-qui-suis-je {
        font-size: 3.0em;
    }
    #presentation-de-soi .p-presentation-de-soi {
        font-size: 1.0em;
    }
}

 #titre-qui-suis-je {
    text-align: center;
    color: #ffffff; /*foncé de fou : 092327  blanc : F8F9FA;*/
    padding-right: 4%;
 }

#titre_parcours {
    margin-bottom: 0;
    color: #F8F9FA;
    text-align: center;
}

.presentation-de-soi-bloc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}
#pacours {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    /* gap: 300px; */
    height: 100%;

}

.formBox{
    width: 50%;
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pacours .formBox {
    width: 75%;
}

/* PARTIE ICONES a GAUCHE */

.liens {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.liensPro {
    justify-content: center;
    gap: 70px;
    align-items: flex-start;
}

.liensPro a p  {
    color: #F8F9FA; /*F8F9FA;*/
}

.lien-GitHub {
    padding-left: 25%;
}

.lien-CV {
    padding-left: 55%;
}

.lien-linkedIn {
    padding-left: 23%;
}

.liensContact {
    font-family: Poppins;
    font-size: 1.0em;
    color: #fdb024; 
}

.vignette_liens img {
    width: 80%;
    height: 80%;
    /* transform: translateX(-50px); */
    transition: opacity 1.2s ease-out, transform 0.6s ease-out;
}


.vignette_liens {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 1.2s ease-out, transform 0.6s ease-out;
}

.vignette_liens.visible /*img*/ {
    opacity: 1;
    transform: translateX(0);
    text-decoration: none;
}

.vignette_liens img:hover {
  transform: scale(1.05); /* combine les deux */
}


/* PARTIE TEXTUELLE A DROITE */

#presentation-de-soi .formulaire {
    width: 80%;
}

#presentation-de-soi .p-presentation-de-soi, #footer .bloc-contact .bloc-numTel-Email p, #footer .bloc-contact .bloc-numTel-Email h2 {
    color: rgba(229, 238, 246, 0.95); /*F8F9FA;fdb024*/
    font-family: Poppins;
    font-size: 1.1em;
}

#presentation-de-soi .p-presentation-de-soi {
    text-align: justify;
}

#presentation-de-soi .formulaire span {
    color: #fdb124d9; /* 71a49a;/*bleu fonce : rgb(11, 62, 106); bleu canard : 4e9486 */
}


/* ///////////////////// ICONE DE TRANSITION /////////////*/

/* #transition {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    max-width: 1920px;
    margin-bottom: -10%;
    background-color: transparent;
}

#imageTransitionTamara {
    position: relative;
    top: -270px;
    left: 10%;    
    z-index: 99;
    width: 25%;
    height: auto;
    transform: scaleX(-1);
} */

/*//////////////////// PARTIE PROJET ///////////////////*/

#projet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* margin-top: -20% ; */
    padding: 10% 0;
    max-width: 1920px;
    width: 100%;

    background-color: transparent;
    background-image: url('../img/img_accueil_3/projet-maquette-complete.png');
    background-repeat: no-repeat;
    /* background-size: 80%; */
    background-size: 60%;
    background-position-y: center;
    background-position-x: center;
}

/* TITRE 'PROJETS' */

#projets {
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-size: 3.5em; */
    margin-bottom: 2%;
    font-size: 3em;
    font-family: Poppins;
    color: #fdb024;
}

#titre-qui-suis-je {
    margin: 0;
}

.text-apparait {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.text-apparait.visible {
  opacity: 1;
  transform: translateY(0);
}

/* PARTIE bulles projets */

.grille_projets {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;

    max-width: 1220px;
    padding: 2% 2% 0 2%;
    width: 950px;
    gap: 5%;      
    border-radius: 50px;     
    /* border : 10px solid #1E332F; */
}


 /* BLOC DE CHAQUE PROJET */

 
.bloc-1-projet {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;

    height: 420px;
    width: 448px;
    margin: 2% 0;
    gap: 5%;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1); 
    /* border: 5px solid #1E332F;  */
    border: 0.5px solid #092327; 
    border-radius: 30px;

    /* width: 100%;
    height: 100%; */
    background-image: url('../img/img_accueil_3/bulle_projet.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    
    /* animation */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* .bloc-1-projet .image_projet {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    /* width: 100%;
    height: 60%;
    border-radius: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent; 
} */


/* .bloc-1-projet:nth-child(1) .image_projet{
    background-image: url('../img/img_accueil_3/mytho-miniature.png');
} */

/* .bloc-1-projet:nth-child(2) .image_projet{
    background-image: url('../img/img_accueil_3/train-miniature.png');
}

.bloc-1-projet:nth-child(3) .image_projet{
    background-image: url('../img/img_accueil_3/scp-miniature.png');
}

.bloc-1-projet:nth-child(4) .image_projet{
    background-image: url('../img/img_accueil_3/next-study-miniature.png');
} */

/* TITRES/LIENS DES PROJETS */

/* .bloc-1-projet a {
    text-align: center;
    width: 100%;
    padding: 2% 0;
    font-size: 1.8em;
    color: #dedede;
    font-family: Poppins;
    text-decoration: none;
} */


/* TITRES DE CHAQUE PROJET */
.titre_projet {
    text-align: start;
    width: 60%;
    padding: 7% 12% 10%;
    font-size: 1.6em;
    color: #71a49a;
    font-family: Poppins;
    font-weight: bold;
    text-decoration: none;
}


/* LANGAGES DE CHAQUE PROJET */
.technos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: center;
    padding: 12px 8%;
}

.techno_projet {
    text-align: start;
    width: 100%;
    padding: 0;
    font-size: 1.0em;
    color: #092327;
    font-family: Poppins;
    margin: 0 10px 10px;
}

/* ANIMATION DES BULLES PROJETS */

.bloc-1-projet.visible {
  opacity: 1;
  transform: translateX(0);
}

.bloc-1-projet:hover {
    transform: scale(1.01);
    /* transition: all 0.3s ; */
}

.bloc-1-projet:hover .titre_projet {
  color: #fdb024;
}


/* .bloc-1-projet a:hover {
    transition: all 0.3s ;
} */






/*///////////////// Parcours ///////////////*/



/* barre de parcours */

.timeline-container {
    position: relative;
    top: -50px;
    width: 28%;
    height: 400px;
}

.timeline {
    position: relative;
    width: 5px;
    height: 90%;
    background-color: #1138377e;
    margin: 0 auto;
    border-radius: 5px;
}

.step {
    position: relative;
    margin-left: 20px;
    margin-top: 108px; /* Distance entre les étapes */
}

.marker {
    position: absolute;
    top: -12px;
    left: -30px;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    border: 3px solid #F8F9FA;
    border-radius: 50%;
}

.step p {
    margin: 0;
    margin-left: 40px;
    font-size: 16px;
    color: transparent;
}

.cursor {
    position: absolute;
    top: 0;
    left: -5px;
    width: 15px;
    height: 15px;
    background-color: #F8F9FA;
    border-radius: 50%;
    box-shadow: 0 0 10px #FDF0E7;
    animation: moveCursor 6s infinite linear;
}

@keyframes moveCursor {
    0% {
        top: 0;
    }
    33% {
        top: 120px; /* Position pour l'étape 1 */
    }
    66% {
        top: 240px; /* Position pour l'étape 2 */
    }
    100% {
        top: 360px; /* Fin du parcours */
    }
}

/* /////////HOBBY /////////////*/

#section-hobby {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 0% ;
    padding-bottom: 8%;
    max-width: 1920px;
    width: 100%;
    height: 700px;

    background-color: transparent;
    background-image: url('../img/img_accueil_3/projet-fond-1.png');

    background-repeat: no-repeat;
    background-size: 80%;
    background-position-y: center;
    background-position-x: center;
}

/*////////////// FOOTER ////////////// */

#footer {
    background-color: #000000;
    height: 400px;
    margin: 0;
}

#footer .bloc-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    background-color: #000000;
}

#footer .bloc-contact .bloc-numTel-Email {
    margin: 7%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
}



#footer .bloc-contact .bloc-numTel-Email h2 {
    color: #FDF0E7;
    text-align: center;
    font-size: 2em;
}

#footer .bloc-contact .bloc-numTel-Email .h2_questions {
    font-size: 1.6em;
}

#footer .bloc-contact .bloc-numTel-Email .liens {
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5%;
}

#footer .bloc-contact .bloc-numTel-Email p {
    color: #fdb024;
}

#footer .bloc-contact .bloc-numTel-Email .liens a {
    text-decoration: none;
    color: #fdb024;
    font-size: 1.2em;
    padding: 2% 0;
}
#footer .bloc-contact .bloc-numTel-Email .liens a:hover {
    color: #71a49a;

}

