
/* POLICES */

@font-face {
    font-family: Manrope;
    src: url(../font/font-Manrope/Manrope-VariableFont_wght.ttf);
}

@font-face { /* Titre page d'accueil */
    font-family: Miagara;
    src: url(../font/font-miagara/Miagara.ttf);
}

@font-face { /* Titre icones jeux */
    font-family: Poppins;
    src: url(../font/font-poppins/poppins.regular.ttf);
}


 /* HTML */

html {
    background: #fff;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
    font-family: Poppins;
}

/* BODY */
body {
    margin: auto;
    padding: 0;

    /* background-color:#092327; FDF0E7; */
    background-attachment: fixed;
    max-width: 1920px;
    cursor: default;
    color: #1b1b1b;
    background-color: #fafafa;
    margin: 0;
    line-height: 1.6;
}

main {
    margin: 0;
    padding: 0;
    width: 100%;
}



/*  BARRE DE NAV  */

header { /* pas sûr que tout soit nécessaire */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    top:0;
    width: 100%;
    max-width: 1920px;
    background-color: #fff;
    /*transition: background-color 0.4s ease-in-out ;*/
    z-index: 100;
}


/*barre de nav : menus (accueil,contact..)*/

nav {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    padding: 25px 60px;
    max-width: 1920px;
    background-color: #fff;
    /* transition: background-color 0.5s ease; */
}

.surligne {
    color: black;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    margin: 0 15px;
    padding-bottom: 3%;
    position: relative;
    display: inline-block;
    text-wrap: nowrap;
}

/* Animation de surlignement */

.surligne::after {
  content: " ";
  position: absolute;
  left: 50%;
  bottom: 0px; /* Distance entre le texte et la ligne */
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  height: 1px;
  width: 100%;
  background-color: black;
  transition: transform 0.4s ease;
}


.surligne:hover::after {
  transform: translateX(-50%) scaleX(1);
} 

/* Bouton de contact */
nav #contact {
    background: #092327;
    border-radius: 20px;
    padding: 3px 10px;
}

nav #contact a {
    font-family: Poppins;
    color: #F8F9FA;
    text-decoration: none;
    transition: background-color 0.4s ease-in-out;
}

nav #contact:hover {
    background-color: #216358;
    transition: all 0.5s ;
}

nav #contact:hover a {
    color: #fff ;
}

/*logo : TAMARA BENGHEZAL*/
#logo {
    font-size: 1.2em;
    font-family: Poppins;
    color: #000000;
    text-decoration: none;
    position: absolute;
    left: 25px;
    margin: 0;
    padding: 0;
}

#logo:hover{
    transition: 0.1s ease-in-out; /*a voir pour faire meilleure transition parce que ca ne marche pas pour le moment*/
    opacity: 50%;
}


/* // premiere partie  */

/* ----- SECTION PRINCIPALE ----- */
#premiere-section {
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 100%;
    align-items: center;
    justify-content: center;

    /* padding: 60px 8%; */
    gap: 10px;
    background-color: #092327;
    background:url('../img/img_hobbies/fond_hobbie_bannière.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-family: Poppins;
}


/* ----- TEXTE -----
#div-texte {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
} */

.titre-hero {
  font-size: 3.0rem;
  font-weight: 800;
  letter-spacing: 1px;
  color: #fdb024;
  line-height: 1.3;
  text-align: center;
  padding-top: 5%;
}

.sous-titre {
  padding-top: 20px;
  font-size: 1.7rem;
  font-weight: 300;
  color: #E0E4E5;
  line-height: 1.6;
  margin: 0;
}

/*  --------  BADGE BOUTONS BANNIERE  ----------  */

.conteneur-badges {
    display: flex;
    flex-wrap: wrap;       
    justify-content: center;
    gap: 15px;           
    /* margin-top: 25px; */
    background-color: #092327;
}

/* Style individuel de chaque badge */
.badge {
    display: inline-block;
    padding: 8px 20px;
    background-color: #F8F9FA; 
    color: #113837;            
    border: 1px solid #E0E4E5;
    border-radius: 50px;      
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease; 
    cursor: default;
}

.badge:hover {
    background-color: #f0f0f0;
    transform: translateY(-2px); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


/*---------BANNIERE CITATION-------------  */

#banniere-citation {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 30px 0 60px 0;
    /* gap: 50px; */
    background:url('../img/img_hobbies/fond_transition_hobbies.png');
    background-color: #113837;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 300px;
}

#banniere-citation .texte-intro {
  padding: 0 5% 2% 3%;
  max-width: 60%;
}

#banniere-citation p {
  font-family: Poppins;
  font-size: 1.2rem;
  color: #F8F9FA;
}

#banniere-citation .illustration-parcours img {
  height: 12rem;
}

@media (max-width: 600px) {
  #banniere-citation {
    height: auto;
    padding: 40px 10px;
  }

  #banniere-citation p {
    font-size: 1.1rem;
  }
}

/*---------SECTION DETAILS ---------  */

/* ======= SECTIONS PRINCIPALES ======= */
.contenu-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  padding: 80px 0;
  background-color: #528F83;
}

article {
  background-color: #f4f7f8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 60px;
  width: 90%;

  border-radius: 16px;
  background-color: #113837;   
  box-shadow: 4px 4px 12px rgba(105, 105, 105, 0.5) ;
  overflow: hidden;         /* Pour que l'image ne dépasse pas des coins arrondis */
  max-width: 1220px;         /* Ajuste selon tes besoins */
  
}


/* ======= IMAGE ======= */
.div-image-1, .div-image-2 {
  flex: 1;
  display: flex;
  padding-top: 30px;  
  padding-bottom: 0;
  align-items: end;
}

.div-image-1 {
  justify-content: start;
}

.div-image-2 {
  justify-content: end;
}

.div-image-1 img {
  width: 90%;
  height: 90%;
  max-width: 550px;
  border-radius: 0px 20px 0 0px;
  object-fit: cover;
}

.div-image-2 img {
  justify-content: end;
  width: 90%;
  height: 90%;
  max-width: 550px;
  border-radius: 20px 0px 0px 0;
  object-fit: cover;
}


/* ======= TEXTE ======= */
.corps-carte-1, .corps-carte-2 {
  flex: 1;
  background-color: #ffffff; /* Fond de la partie texte */
  padding: 10px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.corps-carte-1 {
  text-align: end;
  border-radius: 0 15px 15px 0;
}

.corps-carte-2 {
  text-align: start;
  border-radius: 15px 0 0 15px;
}

.corps-carte-1 h2, .corps-carte-2 h2 {
  font-size: 1.5rem;
  color: #092327;
  margin-bottom: 20px;
  position: relative;
}

.corps-carte-1 p, .corps-carte-2 p {
  font-size: 0.9rem;
  color: #000000;
  line-height: 1.6;
  margin-bottom: 5px;
}

/* Le conteneur qui défile */
.glisseur-contenu {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory; /* Force l'aimantation horizontale */
    scroll-behavior: smooth;     /* Animation fluide lors du clic sur les points */
    scrollbar-width: none;       /* Cache la barre de défilement (Firefox) */
}

.glisseur-contenu::-webkit-scrollbar {
    display: none;               /* Cache la barre de défilement (Chrome/Safari) */
}

/* Chaque bloc titre/texte */
.slide {
    flex: 0 0 100%;
    scroll-snap-align: center;
    padding: 15px 15px 5px 15px;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50px;
}

/* Style des points en bas */
.navigation-points {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
    padding: 15px 60px 15px 60px;
}

.point {
  width: 10px;
    height: 10px;
    background-color: #ccc; /* Gris par défaut */
    border-radius: 50%;
    display: inline-block;
    transition: all 0.3s ease;
}

.point:hover, .point.active {
    background-color: #0a2a2a; /* Couleur foncée pour le point actif */
    transform: scale(1.3);
}

/* ======= RESPONSIVE DESIGN ======= */
@media screen and (max-width: 900px) {
  .contenu-principal,
  .contenu-principal.reverse {
    flex-direction: column;
    text-align: center;
    padding: 60px 6%;
  }


  .div-image-1 img, .div-image-2 img {
    max-width: 350px;
  }
}



/*////////////// FOOTER ////////////// */

#footer {
    background-color: #000000;
    height: 400px;
    margin: 0;
}

#footer .bloc-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    background-color: #000000;
}

#footer .bloc-contact .bloc-numTel-Email {
    margin: 7%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
}



#footer .bloc-contact .bloc-numTel-Email h2 {
    color: #FDF0E7;
    text-align: center;
    font-size: 2em;
}

#footer .bloc-contact .bloc-numTel-Email .h2_questions {
    font-size: 1.6em;
}

#footer .bloc-contact .bloc-numTel-Email .liens {
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5%;
}

#footer .bloc-contact .bloc-numTel-Email p {
    color: #fdb024;
}

#footer .bloc-contact .bloc-numTel-Email .liens a {
    text-decoration: none;
    color: #fdb024;
    font-size: 1.2em;
    padding: 2% 0;
}
#footer .bloc-contact .bloc-numTel-Email .liens a:hover {
    color: #71a49a;

}




